<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>wood House</title>

  <!-- favicon link -->

  <link rel="icon" href="images/favicon.ico">

  <!-- bootstrap css link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!--- Google Fonts ----------->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900|Ubuntu:400,500,700" rel="stylesheet">

  <!--- Font awsome ------------------>
  <script src="https://kit.fontawesome.com/4f2a486a94.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/jarallax.css">

  <link rel="stylesheet" href="css/products.css">
</head>

<body>
  <section id="title">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">wood House</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 links">
            <li class="nav-item">
              <a class="nav-link aHover" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active aHover" href="/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link aHover" href="/signUp">Sign-UP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link cart" href="#"><i class="fas fa-shopping-cart"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <!-- top section after div -->
  <section id="topContent">
    <div class="box">
      <h2 data-jarallax-element="0 -200">Our Amazing Products</h2>
      <div class="container">
        <div class="imgBx jarallax">
          <img src="images/bed.jpg" alt="" class="jarallax-img">
        </div>
        <div class="content" data-jarallax-element="-200 0">
          <h1 class="bed">Wooden Bed</h1>
          <p>We are entering today the bedroom furniture and the bed has a central role in the design of the sleeping area.
            We want to focus on the Handmade Carved Designer Wooden Bed. On the bed design, one places a special value.
            If you love the natural grains of the wood and want that rustic look to be incorporated in your bedroom,
            bring home Aarsun solid wood beds. These beds are available in options such as Sheesham and Teak.
            You can also customize the size as well as finish the bed to blend it as per your home decor.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="topContent">
    <div class="box">
      <h2 data-jarallax-element="0 200">Wooden Sofa</h2>
      <div class="container">
        <div class="imgBx jarallax">
          <img src="images/sofa.jpg" alt="" class="jarallax-img">
        </div>
        <div class="content" data-jarallax-element="-200 0">
          <h1 class="sofa">Wooden Sofa</h1>
          <p>Well, if we are talking about wooden sofas, then it is the most important factor in buying a wooden sofa.
            Check if the quality of wood is appropriate or not. Sheesham wood and Mango wood are used mostly in making a wooden sofa.
            They all have different colors and finishes, choose the wood accordingly.
            Polishing and providing a perfect finish to a wooden sofa unit is what craftsmanship is all about. Crafting a sofa into the piece of art defines the level of craftsmanship.
            Check thoroughly for the imperfection in shape, size or texture.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="topContent">
    <div class="box">
      <h2 data-jarallax-element="0 -200">Dining Table</h2>
      <div class="container">
        <div class="imgBx jarallax">
          <img src="images/dinning.jpg" alt="" class="jarallax-img">
        </div>
        <div class="content" data-jarallax-element="-200 0">
          <h1 class="dinning">Dining Table</h1>
          <p>The first dining table in our list is the expandable dining table from Draenert.
            This is a multi-functional piece of furniture that pulls apart from the middle,
            making room for a metal stroller that you can use to bring the food from the
            kitchen or hold the champagne and a versatile area that can accommodate a cutlery box,
            the serving dish or a chopping board. Made from natural stone or MDF-veneer, the 7100 Dining Desk is perfect for a modern dining room.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="topContent">
    <div class="box">
      <h2 data-jarallax-element="0 200">Wooden Divan</h2>
      <div class="container">
        <div class="imgBx jarallax">
          <img src="images/divan.jpg" alt="" class="jarallax-img">
        </div>
        <div class="content" data-jarallax-element="-200 0">
          <h1 class="divan">Wooden Divan</h1>
          <p>Primarily, in the Middle East (especially the Ottoman Empire),
            a divan was a long seat formed of a mattress laid against the side of the room,
            upon the floor or upon a raised structure or frame, with cushions to lean against.
            Similar to a settee or a chaise lounge, a divan is a tufted,
            flat sofa that's often on the shorter side. Most divans don't have a back or arms.
            Divan beds are compact and tidy, with their design intended to only be as wide as the mattress they support.
            This helps save on some of the bulk. A divan bed is a great space saver for a smaller room.</p>
        </div>
      </div>
    </div>
  </section>
  <script src="js/jarallax.js" charset="utf-8"></script>
  <script src="js/jarallax-element.js" charset="utf-8"></script>
  <script type="text/javascript">
    jarallax(document.querySelectorAll('.jarallax'), {
      speed: 0.5
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
