* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: all .2s linear;
}

/* nav bar */
.navbar {
  width: 100%;
  overflow-x: hidden;
  background: #130f40;
  padding-bottom: 2.5rem;
}

.cart i {
  color: #ff7675;
  transition: 0.6s ease-in-out;
  animation: movecart 1s linear 1;
  animation-delay: 3s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.cart i:hover {
  color: #ff4c68;
  transform: scale(1.5);
}

@keyframes movecart {
  0%{
    transform: translateY(-100px);
    visibility: visible;
  }
  100%{
    transform: translateY(0px);
    visibility: visible;
    transform: scale(1.5);
  }
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  animation: movedown 1s linear 1;
  animation-delay: 1s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes movedown {
  0%{
    transform: translateY(-100px);
    visibility: visible;
  }
  100%{
    transform: translateY(0px);
    visibility: visible;
  }
}

.links {
  animation: movedown 1s linear 1;
  animation-delay: 2s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.container-fluid {
  padding: 1% 15%;
}

.container-fluid a {
  color: #111;
  transition: 0.9s fade;
  overflow: hidden;
}



/*body */


.form-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #130f40;
  perspective: 1000px;
}

.form-container form {
  overflow: hidden;
  height: 450px;
  width: 350px;
  background: rgba(255, 255, 255, .1);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
  border-top: 1px solid rgba(255, 255, 255, .3);
  border-left: 1px solid rgba(255, 255, 255, .3);
  backdrop-filter: blur(10px);
  transform-style: preserve-3d;
}

.form-container form h3 {
  font-size: 30px;
  padding: 30px 0;
  color: #ccc;
  letter-spacing: 3px;
}

.form-container form i {
  padding: 0 5px;
  font-size: 20px;
  color: #bbb;
}

.form-container form input {
  outline: none;
  border: none;
  height: 40px;
  width: 82%;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, .7);
  box-shadow: 0 0 5px rgba(0, 0, 0, .3) insets;
  font-size: 17px;
  padding: 0 10px;
  margin: 15px 0;
  letter-spacing: 1px;
}

.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}

.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}

.form-container form input[type="submit"] {
  width: 90%;
  cursor: pointer;
  background: linear-gradient(90deg, deeppink, blueviolet);
  margin-top: 30px;
  border-radius: 50px;
}

.form-container form input[type="submit"]:hover {
  letter-spacing: 4px;
}

.text {
  position: absolute;
  top: 0;
}

.form-container .login-text {
  text-transform: uppercase;
  font-weight: 700;
  color: deeppink;
  display: grid;
}

.form-container .small-text {
  font-size: 20px;
  justify-content: center;
  text-align: center;
  display: block;
  color: #fff;
}
